body{
    background-color: cadetblue;
    margin:0;
    height:100%;
}

header{
    border: black solid 4px;
    color: rgb(179, 125, 45);
    background: rgb(223, 214, 180);
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-emphasis: bold;
    font-size: 100px;
    width: 100%;
}

#biographyParagraph{
    border: darkgray solid 3px;
    background: cornflowerblue;
}
#biographytext{
    color: rgb(83, 65, 124);
    border: black solid 2px;
    margin:20px 20px 20px 20px;
    padding: 30px;
}

footer{ 
    border: black solid 4px;
    color: rgb(0, 0, 0);
    background: rgb(223, 214, 180);
    text-align: center;
    font-size: 10px;
    padding: 3px 3px 3px 3px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: auto;
}

#userNameGoesHere{
    font-weight: bold;
    color: plum;
}

#gamesTopTenList{
    border: ridge 3px rosybrown;
    background-color: grey;
    display: inline-block;
    width: auto;
    position: fixed;
    left: 48%;
    top: 75%;
}
